<nav class="navbar navbar-expand-md justify-content-center" #navbar [class.hide]="hide">
  <ul class="navbar-nav">

    <li class="nav-item" routerLinkActive="selected" routerLink="/home">
      <a class="nav-link">Home</a>
    </li>

    <li class="nav-item" routerLinkActive="selected" routerLink="/board">
      <a class="nav-link">Board</a>
    </li>

    <li class="nav-item" routerLinkActive="selected" routerLink="/chat">
      <a class="nav-link">Chat</a>
    </li>

    <li class="nav-item">
      <a class="nav-link">Logout</a>
    </li>

  </ul>
</nav>
