.navbar {
  position: fixed;
  width: 100%;
  top: 0;
  margin-top: 5px;
}

.navbar-nav {
  background-color: rgba(255, 255, 255, 0.536);
  border-radius: 20px;
  box-shadow: 0px 3px 10px 1px;
  padding: 2px;
}

.nav-item {
  padding: 0px 20px;
}

.nav-link {
  font-weight: 600;
  color: black;
}

.nav-item:hover {
  background-color: var(--hover-color);
  border-radius: 20px;
  cursor: pointer;
}

.nav-item:nth-last-child(1):hover {
  background-color: rgba(248, 56, 56, 0.692);
  border-radius: 20px;
  cursor: pointer;
}

.selected {
  background-color: var(--seconday-color) !important;
  border-radius: 20px;
  transition: all 1s ease-in-out var(--seconday-color);
}

.selected>a {
  color: white;
}
