.navbar {
  position: fixed;
  width: 100%;
  margin: 10px 0px;
  top: 0;
}

.navbar-nav {
  background-color: rgba(255, 255, 255, 0.596);
  border-radius: 20px;
  box-shadow: 0px 3px 10px 1px;
  padding: 2px;
}

.nav-item {
  padding: 0px 20px;
}

.nav-link {
  font-weight: 600;
  color: black;
}

.nav-item:hover {
  background-color: var(--hover-color);
  border-radius: 20px;
  cursor: pointer;
}

.selected {
  background-color: var(--seconday-color) !important;
  border-radius: 20px;
  /* border: 1px rgba(0, 0, 0, 0.278) solid; */
  transition: all 1s ease-in-out var(--seconday-color);
}

.selected>a {
  color: white;
}