img {
  width: 100%;
  border: 2px solid black;
  border-radius: 10px;
}

.cards {
  background-color: var(--card-color);
  border-radius: 20px;
  padding: 10px;
  box-shadow: 1px 2px 12px 6px #6112ffd9;
}

.name {
  font-size: 3em;
  font-weight: bolder;
  margin: 20px;
  color: white;
  text-align: center;
  text-shadow: 6px 6px 12px black;
}

th,
td {
  border: 2px solid var(--secondary-color);
  border-radius: 10px;
  padding: 10px;
  background-color: whitesmoke;
}

.table {
  font-size: 1.2em;
  border-collapse: separate;
  border-spacing: 15px 10px;
  text-align: center;
}

th {
  background-color: black;
  color: rgb(255, 200, 0);
  padding: 1px !important;
}

td:hover {
  background-color: var(--secondary-color);
  color: white;
  transform: scale(1.02);
}

.list-group {
  margin: 30px 0px;
}

.h {
  background-color: red !important;
  color: white !important;
}

.list-group-item {
  background-color: black;
  color: rgb(255, 200, 0);
  font-weight: bold;
  font-size: 1.2em;
  margin: 1px;
}

.head .col-md-3,
.med .col-md-3 {
  text-align: center;
  border-right: 1px solid white;
  font-size: 1.2em;
}

.head .col-md-3:nth-last-child(1),
.med .col-md-3:nth-last-child(1) {
  border-right: none !important;
}

.head .col-md-3 {
  min-height: 50px;
  border-bottom: 1px solid white;
}

.med .col-md-3 {
  padding: 10px;
}

.head .col-md-3,
.meds {
  font-weight: bold;
  align-content: center;
}

.heads,
.meds {
  background-color: black;
  color: rgb(255, 200, 0);
  border-right: 1px solid white;
}

.head,
.med {
  background-color: var(--secondary-color);
}
