<div class="row cards">
  <div class="col-md-4 mx-5">
    <div class="img-cont">
      <img [src]="patient?.photo" alt="Image">
    </div>
  </div>
  <div class="col-md-6 align-self-center">
    <p class="name">{{patient?.name | uppercase}}</p>
    <table class="table">
      <tr>
        <th>E-mail</th>
        <td>{{patient?.email}}</td>
      </tr>
      <tr>
        <th>Doctor</th>
        <td>{{patient?.doctor}}</td>
      </tr>
      <tr>
        <th>Hospital</th>
        <td>{{patient?.hospital}}</td>
      </tr>
      <tr>
        <th>Blood Type</th>
        <td>{{patient?.bloodtype}}</td>
      </tr>
      <tr>
        <th>Age</th>
        <td>{{patient?.age}}</td>
      </tr>
      <tr>
        <th>Sex</th>
        <td>{{patient?.gender}}</td>
      </tr>
      <tr>
        <th>Insurance</th>
        <td>{{patient?.insuranceprovider}}</td>
      </tr>
      <tr>
        <th>Location</th>
        <td>{{patient?.location?.district}}, {{patient?.location?.postcode!.split(" ")[0]}}</td>
      </tr>
    </table>
  </div>
</div>

<ul class="list-group list-group-horizontal d-flex justify-content-center">
  <li class="list-group-item h">Medical Condition(s)</li>
  @for (condition of patient?.medicalcondition; track $index) {
  <li class="list-group-item">{{condition}}</li>
  }
</ul>

<div class="row head">
  <div class="col-md-3 heads">Timing</div>
  <div class="col-md-3">Morning</div>
  <div class="col-md-3">Afternoon</div>
  <div class="col-md-3">Night</div>
</div>
<div class="row med">
  <div class="col-md-3 meds">Medications Prescribed</div>
  <div class="col-md-3">
    @for (medicine of patient?.medication?.morning; track $index) {
    {{medicine}} <br>
    }
  </div>
  <div class="col-md-3">
    @for (medicine of patient?.medication?.noon; track $index) {
    {{medicine}} <br>
    }
  </div>
  <div class="col-md-3">
    @for (medicine of patient?.medication?.night; track $index) {
    {{medicine}} <br>
    }
  </div>
</div>

<a class="float" (click)="requestToggle=!requestToggle" [class.x]="requestToggle">
  <i class="fa fa-plus my-float"></i>
</a>

<div class="mt-5"></div>
<app-requests [patientID]="patientId" [patient]="patient"></app-requests>

@if (requestToggle) {
<app-date-time-picker (dandT)="check($event)" />
}
<br>
<div id="snackbar" #snack [style.background-color]="color" [class.show]="showSnack"> {{message}}</div>
