.img-cont {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

img {
  width: 80%;
  border: 2px solid black;
  border-radius: 10px;
}

.cards {
  background-color: var(--card-color);
  border-radius: 20px;
  padding: 10px;
  box-shadow: 1px 2px 12px 6px #6112ffd9;
}

.name {
  font-size: 3em;
  font-weight: bolder;
  margin: 20px;
  color: white;
  text-align: center;
  text-shadow: 6px 6px 12px black;
}

th,
td {
  border: 2px solid var(--secondary-color);
  border-radius: 10px;
  padding: 10px;
  background-color: whitesmoke;
}

.table {
  font-size: 1.2em;
  border-collapse: separate;
  border-spacing: 15px 10px;
  text-align: center;
}

th {
  background-color: black;
  color: rgb(255, 200, 0);
  padding: 1px !important;
}

td:hover {
  background-color: var(--secondary-color);
  color: white;
  transform: scale(1.02);
}

.list-group {
  margin: 30px 0px;
}

.h {
  background-color: red !important;
  color: white !important;
}

.list-group-item {
  background-color: black;
  color: rgb(255, 200, 0);
  font-weight: bold;
  font-size: 1.2em;
  margin: 1px;
}

.head .col-md-3,
.med .col-md-3 {
  text-align: center;
  border-right: 1px solid white;
  font-size: 1.2em;
  color: white;
}

.head .col-md-3:nth-last-child(1),
.med .col-md-3:nth-last-child(1) {
  border-right: none !important;
}

.head .col-md-3 {
  min-height: 50px;
  border-bottom: 1px solid white;
}

.med .col-md-3 {
  padding: 10px;
}

.head .col-md-3,
.meds {
  font-weight: bold;
  align-content: center;
}

.heads,
.meds {
  background-color: black;
  color: rgb(255, 200, 0) !important;
  border-right: 1px solid white;
}

.head,
.med {
  background-color: var(--secondary-color);
}

.float {
  position: fixed;
  width: 60px;
  height: 60px;
  bottom: 20px;
  right: 25px;
  background-color: black;
  color: #FFF;
  border-radius: 50px;
  text-align: center;
  box-shadow: 2px 2px 3px #999;
  cursor: pointer;
  transition: 0.5s;
  z-index: 200;
}

.my-float {
  margin-top: 20px;
  font-size: 1.2em;
}

.x {
  transform: rotate(45deg);
  background-color: red;
}

#snackbar {
  visibility: hidden;
  min-width: 250px;
  margin-left: -125px;
  color: #fff;
  text-align: center;
  border-radius: 2px;
  padding: 10px 20px;
  border-radius: 20px;
  position: fixed;
  z-index: 1;
  left: 50%;
  bottom: 30px;
  z-index: 1000;
  font-size: 1.2em;
}

#snackbar.show {
  visibility: visible;
  /* Show the snackbar */
  /* Add animation: Take 0.5 seconds to fade in and out the snackbar.
  However, delay the fade out process for 2.5 seconds */
  -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
  animation: fadein 0.5s, fadeout 0.5s 5s;
}

/* Animations to fade the snackbar in and out */
@-webkit-keyframes fadein {
  from {
    bottom: 0;
    opacity: 0;
  }

  to {
    bottom: 30px;
    opacity: 1;
  }
}

@keyframes fadein {
  from {
    bottom: 0;
    opacity: 0;
  }

  to {
    bottom: 30px;
    opacity: 1;
  }
}

@-webkit-keyframes fadeout {
  from {
    bottom: 30px;
    opacity: 1;
  }

  to {
    bottom: 0;
    opacity: 0;
  }
}

@keyframes fadeout {
  from {
    bottom: 30px;
    opacity: 1;
  }

  to {
    bottom: 0;
    opacity: 0;
  }
}
