<div class="row my-5">
  <div class="col-md-6 offset-md-3">
    <input type="text" class="search" (keyup)="search($event)" [placeholder]="ph" />
  </div>
</div>
@if (patients.length>0) {
<div class="row g-5">
  @for (patient of patients; track patient.id) {
  <div class="col-lg-3">
    <div class="cards" (click)="details(patient.id!)">
      <img [src]="patient.photo" alt="Avatar">
      <div class="det">
        <h4><b>{{patient.name}}</b></h4>
        <p>Carer Assigned : <span style="color:white"> No</span></p>
      </div>
    </div>
  </div>
  }
</div>
} @else {
<div class="row">
  <h3 style="text-align: center;">No Patients found..</h3>
</div>
}
