.cards {
  background-color: var(--card-color);
  border-radius: 20px;
  transition: all 0.5s;
  padding-bottom: 5px;
}

.cards img {
  width: 100%;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.det {
  margin: 25px;
  text-align: center;
  font-size: 1.2em;
}

.cards:hover {
  cursor: pointer;
  box-shadow: 8px 5px 10px 1px grey;
}
