.carousel-container {
  display: flex;
  align-items: center;
  position: relative;
  width: 100%;
  overflow: hidden;
  background-color: var(--secondary-color);
  padding: 40px 10px;
  border-radius: 20px;
}

.backdrop {
  display: none;
  position: fixed;
  top: 0;
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
  height: 100vh;
  width: 100%;
  z-index: 1000;
  align-content: center;
  text-align: center;
  transition: transform 0.3s ease-in-out;
}

.carousel-wrapper {
  overflow: hidden;
  width: 100%;
  flex-grow: 1;
}

.carousel-heading {
  color: white;
  text-align: center;
  width: 30%;
}

.carousel {
  display: flex;
  transition: transform 0.3s ease-in-out;
}

.card {
  flex: 0 0 25%;
  /* Each card takes up 1/3 of the container */
  box-sizing: border-box;
  padding: 20px;
  background-color: #fe5656;
  border: 1px solid #ddd;
  margin-right: 10px;
  text-align: center;
  overflow: hidden;
}

.card-assigned {
  flex: 0 0 30%;
  background-color: #29c600d4;
}

.notes {
  background-color: #ffffffcf;
  padding: 5px 15px;
  height: 75px;
  overflow: scroll;
  align-content: center;
  border-radius: 7px;
}

.arrow {
  background-color: #ffffffbe;
  color: black;
  border: none;
  padding: 10px;
  cursor: pointer;
  font-size: 40px;
  border-radius: 10%;
}

.arrow.left {
  margin-right: 10px;
}

.arrow.right {
  margin-left: 10px;
}

.arrow:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

.noRequests {
  text-align: center;
  color: white;
  width: 100%;
}

.tag {
  position: absolute;
  top: 20px;
  left: -20px;
  font-size: 0.8em;
  transform: rotate(-45deg);
  background-color: yellow;
  width: 100px;
  font-weight: bold;
}

.carer {
  position: absolute;
  top: 5vh;
  background-color: #b28ef9de;
  width: 80%;
  margin: 0 10%;
  padding: 2%;
  border-radius: 20px;
  height: 90%;
}

.list-group {
  height: 90%;
  overflow: scroll;
  padding: 10px 20px;
}


.list-group-item {
  border-radius: 10px;
}

.list-group-item:hover {
  cursor: pointer;
}

.itag {
  position: absolute;
  top: 20px;
  left: 0px;
  font-size: 0.8em;
  transform: rotate(-45deg);
  background-color: blue;
  color: white;
  width: 5%;
  font-weight: bold;
}

h3 {
  font-weight: bolder;
  margin: 20px;
  color: white;
  text-align: center;
  text-shadow: 6px 6px 12px black;
}

.float {
  position: absolute;
  width: 40px;
  height: 40px;
  top: -15px;
  right: -15px;
  color: #FFF;
  border-radius: 50px;
  text-align: center;
  box-shadow: 3px 1px 3px #999;
  cursor: pointer;
  transition: 0.5s;
  z-index: 200;
  transform: rotate(45deg);
  background-color: red;
}

.my-float {
  margin-top: 10px;
  font-size: 1.2em;
}
