/* You can add global styles to this file, and also import other style files */
:root {
  --primary-color: #987cd171;
  --secondary-color: #5805ffb1;
  --hover-color: #b28ef995;
  scrollbar-color: #090002 rgba(255, 0, 0, 0) !important;
  --card-color: #6f2df391
    /* --primary-color: #acd7e0;
  --secondary-color: #33C8E6;
  --hover-color: #95d8e5ea; */
}


body {
  background-color: var(--primary-color);
}


.firebase-emulator-warning {
  display: none;
}

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.backdrop {
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
  height: 100vh;
  width: 100vw;
  z-index: 100;
  align-content: center;
  text-align: center;
}
